<template>
  <div class="mr-3">
    <input
      :class="timeStepItem"
      :value="TimeFormatMixin.getTimeInHour(this.timeValue)"
      @input="getHourChange"
      :disabled="isDisable"
    >
    <label :class="colon">:</label>
    <input
      :class="timeStepItem"
      :value="TimeFormatMixin.getTimeInMinute(this.timeValue)"
      @input="getMinuteChange"
      :disabled="isDisable"
    >
    <label :class="colon">:</label>
    <input
      :class="timeStepItem"
      :value="TimeFormatMixin.getTimeInSecond(this.timeValue)"
      @input="getSecondChange"
      :disabled="isDisable"
    >
  </div>
</template>

<script>
import TimeFormatMixin from "../mixin/time-format-mixin";
export default {
  data() {
    return {
      TimeFormatMixin: TimeFormatMixin
    }
  },

  props: {
    timeValue: Number,
    isDisable: Boolean,
    isActive: Boolean
  },

  computed: {
    timeStepItem() {
      if(this.isActive) {
        return "time-step-item-active"
      }
      else {
        return "time-step-item"
      }
    },

    colon() {
      if(this.isActive) {
        return "colon-active"
      }
      else {
        return "colon"
      }
    }
  },

  methods: {
    getHourChange(event) {
      this.$emit("get-hour-change", event.target.value)
    },

    getMinuteChange(event) {
      this.$emit("get-minute-change", event.target.value)
    },

    getSecondChange(event) {
      this.$emit("get-second-change", event.target.value)
    }
  }
}
</script>

<style>
.time-step-item {
  display: inline-block;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: 300;
}

.time-step-item-active {
  display: inline-block;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: 500;
}

.colon {
  align-items: center;
  font-size: 30px;
  font-weight: 300;
}

.colon-active {
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}
</style>
