<template>
  <div class="time-tracking-page">
    <grid-custom
      md-grid-template-columns="1fr 3fr"
      md-grid-column-gap="35px"
    >
      <div>
        <user-story-information
          :total-time="totalTime"
          :user-story="userStory"
        >
        </user-story-information>
      </div>

      <user-story-time-tracking
        :steps="steps"
        :tracking-step="trackingStep"
        :editing-step-id="editingStepId"
        :time-value="timeValue"
        @update-step-time="updateStepTime"
        @cancel-edit-step="cancelEditStep"
        @save-step="saveStep"
        @start-tracking="startTracking"
        @stop-tracking="stopTracking"
      ></user-story-time-tracking>
    </grid-custom>
  </div>
</template>

<script>
import axios from "axios";
import "regenerator-runtime/runtime";
import UserStoryInformation from "./UserStoryInformation";
import UserStoryTimeTracking from "./UserStoryTimeTracking";
import TimeTrackingApi from "../enum/time-tracking-api";
import { Timer } from "easytimer.js";
import { mapGetters } from "vuex";
import TIME_TRACKING_GETTERS from "../vuex/time-tracking-getters";
import { mapActions } from "vuex";
import TIME_TRACKING_ACTIONS from "../vuex/time-tracking-actions";
import GridCustom from "../../core/components/GridCustom";

const trackedTimer = new Timer();
export default {
  data() {
    return {
      steps: [],
      userStory: {},
      totalTime: 0,
      timeValue: 0,
      trackingStep: {},
      pausingStep: {},
      editingStepId: ""
    }
  },

  components: {
    GridCustom,
    UserStoryInformation,
    UserStoryTimeTracking,
  },

  props: {
    id: String,
  },

  computed: {
    ...mapGetters({
      trackingStepLastTime: TIME_TRACKING_GETTERS.trackingStepLastTime
    })
  },

  methods: {
    ...mapActions({
      saveTrackingStep: TIME_TRACKING_ACTIONS.saveTrackingStep,
      removeTrackingStep: TIME_TRACKING_ACTIONS.removeTrackingStep
    }),

    async updateStepTime(step) {
      this.editingStepId = step.id
      if(this.trackingStep.id === this.editingStepId) {
        trackedTimer.stop()
        this.pausingStep = Object.assign({}, this.trackingStep)
        this.trackingStep = {}
        await this.updateTimeOfStep(this.pausingStep)
        this.removeTrackingStep()
      }
    },

    async saveStep(stepData) {
      this.totalTime += (stepData.updatedTime - parseInt(stepData.step.timeInSecond))
      let updatedStep = {
        ...stepData.step,
        timeInSecond: stepData.updatedTime
      }
      await this.updateTimeOfStep(updatedStep)
      this.editingStepId = ""
      this.pausingStep = {}
    },

    cancelEditStep(step) {
      this.editingStepId = ""
      if(this.pausingStep.id && step.id === this.pausingStep.id) {
        this.startTracking(this.pausingStep)
      }
    },

    async startTracking(step) {
      if(this.pausingStep.id) {
        await this.updateTimeOfStep(this.pausingStep)
        this.pausingStep = {}
      }
      if(trackedTimer.isRunning()){
        trackedTimer.stop()
        await this.updateTimeOfStep(this.trackingStep)
        this.removeTrackingStep()
      }
      this.timeValue = parseInt(step.timeInSecond)
      this.trackingStep = Object.assign({}, step)
      trackedTimer.start({
        precision: "seconds",
        startValues: {
          seconds: this.timeValue
        }
      })
    },

    addEventListenerForTrackedTimer() {
      trackedTimer.addEventListener("secondsUpdated",  (e) => {
        this.totalTime += 1
        this.timeValue = trackedTimer.getTotalTimeValues().seconds
        this.trackingStep = {
          ...this.trackingStep,
          timeInSecond: trackedTimer.getTotalTimeValues().seconds
        }
        this.saveTrackingStep(this.trackingStep)
      })
    },

    async stopTracking(step) {
      trackedTimer.stop()
      let updatedStep = {
        ...step,
        timeInSecond: this.timeValue
      }
      await this.updateTimeOfStep(updatedStep)
      this.trackingStep = {}
      this.removeTrackingStep()
    },

    findStepIndex(step) {
      let stepIndex = -1
      this.steps.forEach((item, index) => {
        if(item.id === step.id) {
          stepIndex = index
        }
      })
      return stepIndex
    },

    updateStepInStepArray(updatedStep) {
      let stepIndex = this.findStepIndex(updatedStep)
      if(stepIndex !== -1) {
        this.steps[stepIndex] = updatedStep
      }
    },

    async updateTimeOfStep(updatedStep) {
      this.updateStepInStepArray(updatedStep)
      const response = await axios.put(TimeTrackingApi.UPDATE_TIME_OF_STEP(updatedStep.id), updatedStep)
    },

    async getStepList() {
      const response = await axios.get(TimeTrackingApi.GET_STEP_LIST(this.userStory.id))
      this.steps = response.data

      if(this.trackingStepLastTime.id) {
        let trackingStepLastTime = this.trackingStepLastTime
        await this.updateTimeOfStep(trackingStepLastTime)
        this.removeTrackingStep()
      }
    },

    async getUserStoryInformation() {
      const response = await axios.get(TimeTrackingApi.GET_USER_STORY_INFORMATION(this.userStory.id))
      this.userStory = response.data
    },

    async updateUserStoryTotalTime() {
      let updatedUserStory = {
        ...this.userStory,
        totalTime: this.totalTime.toString()
      }
      const response = await axios.put(TimeTrackingApi.UPDATE_USER_STORY_TOTAL_TIME(this.userStory.id), updatedUserStory)
    },

    beforeWindowUnload(e) {
      if(this.trackingStep.id) {
        this.updateTimeOfStep(this.trackingStep)
        e.preventDefault()
        e.returnValue = ""
      }
    }
  },

  async mounted() {
    this.userStory.id = this.id;
    await this.getStepList()
    await this.getUserStoryInformation()
    this.steps.forEach(item => {
      this.totalTime += parseInt(item.timeInSecond)
    })
    await this.updateUserStoryTotalTime()
    this.addEventListenerForTrackedTimer()
    window.addEventListener("beforeunload", this.beforeWindowUnload)
  },

  beforeDestroy() {
    window.removeEventListener("beforeunload", this.beforeWindowUnload)
  },

  beforeRouteLeave(to, from, next) {
    if(this.trackingStep.id) {
      trackedTimer.stop()
      const exitConfirm = confirm(`"${this.trackingStep.masterStepName}" is being tracked. If you leave, the data will be lost`)
      if(exitConfirm) {
        this.trackingStep = {}
        next()
      } else {
        next(false)
        this.startTracking(this.trackingStep)
      }
    }
    else {
      next()
    }
  }
}
</script>

<style>
.time-tracking-page {
  padding-top: 50px;
}
</style>
