<template>
  <div>
    <v-card
      v-for="step in steps"
      :key="step.id"
      :class="stepItem(step.id)"
      outlined
    >
      <grid-custom
        md-grid-template-columns="6fr 4fr 2fr"
        md-grid-column-gap="0px"
      >
        <v-card-title class="step-item-name">
          {{ step.masterStepName }}
        </v-card-title>

        <div class="step-item-time">
          <step-time
            v-if="trackingStep.id === step.id"
            :time-value="timeValue"
            :is-disable="true"
            :is-active="true"
          >
          </step-time>

          <step-time
            v-else-if="editingStepId === step.id"
            :time-value="timeInEdit"
            :is-disable="false"
            :is-active="true"
            @get-hour-change="getHourChange"
            @get-minute-change="getMinuteChange"
            @get-second-change="getSecondChange"
          >
          </step-time>

          <step-time
            v-else
            :time-value="step.timeInSecond"
            :is-disable="true"
            :is-active="false"
          >
          </step-time>
        </div>

        <v-card-actions class="step-item-action">
          <v-icon
            v-if="trackingStep.id === step.id"
            @click="stopTracking(step)"
            class="mr-2" color="red"
            size="25"
          >
            mdi-stop-circle-outline
          </v-icon>

          <v-icon
            v-else
            @click="runTracking(step)"
            class="mr-2" color="blue lighten-1"
            :disabled="editingStepId === step.id"
            size="25"
          >
            mdi-play-circle-outline
          </v-icon>

          <div
            v-if="editingStepId === step.id"
            class="ml-2">
            <v-icon
              @click="saveStep(step)"
              class="mr-2"
              color="green"
              size="25"
            >
              mdi-check-circle-outline
            </v-icon>

            <v-icon
              @click="cancelEditStep(step)"
              color="red"
              size="25"
            >
              mdi-close-circle-outline
            </v-icon>
          </div>

          <v-icon
            v-else
            @click="updateStepTime(step)"
            class="mr-12"
            color="blue lighten-1"
            size="25"
          >
            mdi-pencil-circle
          </v-icon>
        </v-card-actions>
      </grid-custom>
    </v-card>
  </div>
</template>

<script>
import TimeFormatMixin from "../mixin/time-format-mixin";
import StepTime from "./StepTime";
import GridCustom from "../../core/components/GridCustom";
export default {
  data() {
    return {
      newHour: 0,
      newMinute: 0,
      newSecond: 0,
      timeInEdit: 0,
      TimeFormatMixin: TimeFormatMixin
    }
  },

  props: {
    steps: Array,
    trackingStep: Object,
    editingStepId: String,
    timeValue: Number
  },

  components: {
    StepTime,
    GridCustom
  },

  methods: {
    stepItem(stepId) {
      if(this.trackingStep.id === stepId) {
        return "step-item mb-1"
      }
      else {
        return "mb-1"
      }
    },

    getHourChange(hour) {
      this.newHour = parseInt(hour)
    },

    getMinuteChange(minute) {
      this.newMinute = parseInt(minute)
    },

    getSecondChange(second) {
      this.newSecond = parseInt(second)
    },

    validateTime() {
      if(this.newHour !== this.newHour
        || this.newMinute !== this.newMinute
        || this.newSecond !== this.newSecond) {
        return false
      }
      if(this.newHour < 0 || this.newMinute < 0 || this.newSecond < 0) {
        return false
      }
      return true
    },

    formatTime(time) {
      this.newHour = parseInt(this.TimeFormatMixin.getTimeInHour(time))
      this.newMinute = parseInt(this.TimeFormatMixin.getTimeInMinute(time))
      this.newSecond = parseInt(this.TimeFormatMixin.getTimeInSecond(time))
    },

    updateStepTime(step) {
      if(step.id === this.trackingStep.id) {
        this.timeInEdit = this.trackingStep.timeInSecond
        this.formatTime(this.trackingStep.timeInSecond)
      } else {
        this.timeInEdit = step.timeInSecond
        this.formatTime(step.timeInSecond)
      }

      this.$emit("update-step-time", step)
    },

    cancelEditStep(step) {
      this.$emit("cancel-edit-step", step)
    },

    saveStep(step) {
      if(this.validateTime()) {
        let updatedTime = this.newHour * 3600 + this.newMinute * 60 + this.newSecond
        const stepData = {
          step: step,
          updatedTime: updatedTime
        }
        this.$emit("save-step", stepData)
      }
    },

    runTracking(step) {
      this.$emit("start-tracking", step)
    },

    stopTracking(step) {
      this.$emit("stop-tracking", step)
    }
  }
}
</script>

<style>
.step-item {
  background-color: #E3F2FD !important;
}

.step-item-name {
  color: #42A5F5;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px !important;
}

.step-item-time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 770px){
  .step-item-time {
    display: flex;
    align-items: center;
    padding: 0px 16px;
    justify-content: flex-start;
  }

  .step-item-action {
    display: flex;
    justify-content: flex-end;
  }
}
</style>
