<template>
  <div class="control-box elevation-4">
    <div class="user-story-name">{{userStory.name}}</div>
    <hr class="break-line">
    <div class="points mb-5">
      <div class="points-name">
        <label class="text-h5">Point:</label>
      </div>

      <div class="points-value">
        <label class="text-h5 text-center">{{userStory.point}}</label>
      </div>
    </div>

    <div class="total-time">
      <div class="total-time-name">
        <label class="text-h5">Total:</label>
      </div>

      <div class="total-time-value">
        <label class="text-h5">{{totalTimeToDisplay}}</label>
      </div>
    </div>
  </div>
</template>

<script>
import TimeFormatMixin from "../mixin/time-format-mixin";
export default {
  data() {
    return {
      TimeFormatMixin: TimeFormatMixin
    }
  },

  props: {
    totalTime: Number,
    userStory: Object
  },

  computed: {
    totalTimeToDisplay() {
      let hour = TimeFormatMixin.getTimeInHour(this.totalTime)
      let minute = TimeFormatMixin.getTimeInMinute(this.totalTime)
      let second = TimeFormatMixin.getTimeInSecond(this.totalTime)
      return hour.concat(":", minute, ":", second)
    }
  }
}
</script>

<style>
.control-box {
  background-color: white;
  padding : 20px 15px 20px 15px;
  border-radius: 5px;
}

.user-story-name {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  color: #42A5F5;
}

.break-line {
  margin-bottom: 20px;
}

.points {
  display: flex;
  justify-content: space-between;
}

.points-name {
  display: inline-block;
  color: #42A5F5;
}

.points-value {
  display: inline-block;
  margin: auto;
}

.total-time {
  display: flex;
  justify-content: space-between;
}

.total-time-name {
  display: inline-block;
  color: #42A5F5;
}

.total-time-value {
  display: inline-block;
  margin: auto;
}
</style>
