<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="userStory"
      :sort-by="['name', 'point', 'totalTime']"
      multi-sort
      class="elevation-1 mt-6"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title class="text_color">User story</v-toolbar-title>
          <v-divider
            class="mx-8"
            inset
            vertical
          ></v-divider>
          <v-select
            class="drop_box"
            v-model="currentSprintId"
            :items="sprints"
            item-text="name"
            item-value="id"
            @input="changeSprint"
          >
          </v-select>
          <v-spacer></v-spacer>
          <v-btn
            color="blue lighten-1"
            dark
            class="mt-4 mr-4"
            @click="shouldShowUserStoryDialog = true"
          >
            <v-icon left>
              mdi-plus
            </v-icon>
            User story
          </v-btn>
        </v-toolbar>
      </template>

      <template v-slot:[`item.name`]="{ item }">
        <div
          @click="directToTimeTrackingPage(item)"
          class="cursor-pointer"
        >
          {{ item.name }}
        </div>
      </template>

      <template v-slot:[`item.totalTime`]="{ item }">
        <div>
          <label>{{ getTimeFormat(item.totalTime) }}</label>
        </div>
      </template>

      <template v-slot:[`item.reaction`]="{ item }">
        <v-btn
          outlined
          small
          fab
          class="mr-1"
          color="blue lighten-1"
          @click="editUserStory(item)"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
        <v-btn
          fab
          dark
          small
          class="mt-2 mb-2"
          color="blue lighten-1"
          @click="showDeleteDialog(item.id)"
        >
          <v-icon dark>mdi-minus</v-icon>
        </v-btn>
      </template>
    </v-data-table>

    <user-story-dialog
      :visible.sync="shouldShowUserStoryDialog"
      :sprints.sync="sprints"
      :edited-item="editedItem"
      @update-user-story="updateUserStory($event)"
      @add-user-story="addUserStory($event)"
      @close-dialog="closeAndReset()"
    ></user-story-dialog>

    <delete-dialog
      :visible="shouldShowDeleteDialog"
      @no-handler="closeDeleteDialog"
      @yes-handler="deleteUserStory"
    >
    </delete-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import cloneDeep from 'lodash.clonedeep'
import API_USER_STORY from '../enum/user-story-apis.js';
import API_SPRINT from '../../sprint/enum/sprint-apis';
import UserStoryDialog from './UserStoryDialog.vue';
import DeleteDialog from "../../sprint/components/DeleteDialog";
import TimeFormatMixin from "../../timeTracking/mixin/time-format-mixin";

export default {
  components: {UserStoryDialog, DeleteDialog},
  props: {
    id: String,
  },
  data: () => ({
    shouldShowDeleteDialog: false,
    shouldShowUserStoryDialog: false,
    TimeFormatMixin: TimeFormatMixin,
    userStory: [],
    currentSprintId: '',
    deleteUserStoryId: '',
    time: [0 , 0, 0],
    sprints: [],
    headers: [
      {
        text: 'Name',
        align: 'start',
        value: 'name'
      },
      {
        text: 'Point (s)',
        align: 'right',
        value: 'point'
      },
      {
        text: 'Total time',
        align: 'right',
        value: 'totalTime'
      },
      {
        text: 'Reaction',
        value: 'reaction',
        align: 'right',
        sortable: false
      },
    ],
    editedItem: {
      id: '',
      name: '',
      point: 0,
      totalTime: 0,
      sprintId: ''
    },
    defaultItem: {
      id: '',
      name: '',
      point: 0,
      totalTime: 0,
      sprintId: ''
    }
  }),

  async mounted() {
    await this.getAllSprint();
    if(this.id) {
      this.currentSprintId = this.id;
    }
    else {
      this.currentSprintId = this.sprints[this.sprints.length - 1].id;
    }
    this.editedItem.sprintId = this.currentSprintId;
    await this.getUserStoryBySprintId(this.currentSprintId);
  },

  watch: {
    id: {
      async handler(id) {
        if (id) {
          this.currentSprintId = cloneDeep(id);
        }
      },
    }
  },

  methods: {
    async getAllSprint() {
      const res = await axios.get(API_SPRINT.GET_ALL_SPRINTS);
      this.sprints = res.data;
    },

    async getUserStoryBySprintId(id) {
      const res = await axios.get(API_USER_STORY.GET_USER_STORY_BY_SPRINT_ID(id));
      this.userStory = res.data;
    },

    closeAndReset() {
      this.editedItem = this.defaultItem;
      this.editedItem.sprintId = this.currentSprintId;
      this.shouldShowUserStoryDialog = false;
    },

    editUserStory(item) {
      this.editedItem = item
      this.shouldShowUserStoryDialog = true
    },

    async addUserStory(addItem) {
      await axios.post(API_USER_STORY.CREATE_USER_STORY,{
        name:addItem.name,
        point:addItem.point,
        sprintId:addItem.sprintId,
        totalTime:addItem.totalTime,
      })
      if(this.currentSprintId) {
        await this.getUserStoryBySprintId(this.currentSprintId);
      }
      this.shouldShowUserStoryDialog = false;
    },

    async updateUserStory(updateItem) {
      await axios.put(API_USER_STORY.UPDATE_USER_STORY(updateItem.id), updateItem);
      if(this.currentSprintId) {
        await this.getUserStoryBySprintId(this.currentSprintId);
      }
      this.closeAndReset()
    },

    async showDeleteDialog(id) {
      this.shouldShowDeleteDialog = true;
      this.deleteUserStoryId = id;
    },

    closeDeleteDialog() {
      this.shouldShowDeleteDialog = false;
    },

    async deleteUserStory() {
      await axios.delete(API_USER_STORY.DELETE_USER_STORY(this.deleteUserStoryId));
      this.userStory = this.userStory.filter((item) => {
        return item.id !== this.deleteUserStoryId;
      })
      this.closeDeleteDialog();
    },

    async changeSprint(event) {
      this.currentSprintId = event;
      this.editedItem.sprintId = this.currentSprintId;
      await this.getUserStoryBySprintId(event);
    },

    directToTimeTrackingPage(item) {
      this.$router.push({name: 'timetracking', params: {id: item.id}});
    },

    getTimeFormat(value) {
      const h = this.TimeFormatMixin.getTimeInHour(value);
      const m = this.TimeFormatMixin.getTimeInMinute(value);
      const s = this.TimeFormatMixin.getTimeInSecond(value);
      return h.concat(":",m,":",s);
    }
  }
}
</script>

<style>
.drop_box {
  width: 1%;
  margin-top: 30px !important;
  margin-bottom: 5px !important
}
.text_color {
  color: #42A5F5;
  font-size: xx-large !important;
  font-weight: bold !important
}
.cursor-pointer {
  cursor: pointer;
}
</style>
