<template>
  <v-dialog
    :value="visible"
    fullscreen
  >
    <grid-custom
      class="user-story-dialog"
      md-grid-template-columns="455px 1fr"
      md-grid-column-gap="0px"
    >
      <div class="user-story-dialog__left-image">
        <div class="user-story-dialog__left-image-blur"></div>
      </div>

      <div class="user-story-dialog__container">
        <v-icon
          class="user-story-dialog__close-btn"
          @click="closeDialog"
        >
          mdi-close
        </v-icon>

        <div class="user-story-modal">
          <div class="user-story-modal__form">
            <div class="user-story-modal__form-title">
              <h3>User story</h3>
            </div>
            <v-select
              :items="sprints"
              label="Sprint"
              v-model="tempItem.sprintId"
              item-text="name"
              item-value="id"
              ref="newSprint"
            ></v-select>

            <grid-custom
              md-grid-template-columns="10fr 2fr"
              md-grid-column-gap="50px"
            >
              <v-text-field
                v-model="tempItem.name"
                label="Name"
                ref="newName"
              ></v-text-field>

              <v-text-field
                v-model="tempItem.point"
                label="Point(s)"
                ref="newPoint"
                :rules="[integer]"
              ></v-text-field>
            </grid-custom>

            <v-btn
              :disabled="allowSubmit"
              color="blue lighten-1"
              class="user-story-modal__btn-submit"
              @click="save()"
            >
              Submit
            </v-btn>
          </div>
        </div>
      </div>
    </grid-custom>
  </v-dialog>
</template>

<script>
import GridCustom from "../../core/components/GridCustom";
import validationmixin from '../../mixins/validation-mixin'
import cloneDeep from 'lodash/cloneDeep';

export default {
  mixins: [validationmixin],

  data() {
    return {
      tempItem: {},
    }
  },

  components: {GridCustom},

  props: {
    visible: Boolean,
    editedItem: {
      required: true,
      type: [Object]
    },
    sprints: {
      required: true,
      type: [Array],
      default: [],
    },
  },
  sprints: {
    required: true,
    type: [Array],
    default: [],
  },

  methods: {
    save() {
      if(this.tempItem.id){
        this.saveEdit()
      }
      else {
        this.saveNew()
      }
    },

    saveEdit() {
      this.$emit('update-user-story', this.tempItem)
    },

    saveNew() {
      this.$emit('add-user-story', this.tempItem)
    },

    closeDialog() {
      this.$emit('close-dialog')
    }
  },

  watch: {
    visible: {
      handler(visible) {
        if (visible) {
          this.tempItem = cloneDeep(this.editedItem);
        }
      },
    }
  },

  computed: {
    allowSubmit() {
      return !(this.tempItem.name && this.tempItem.sprintId && this.tempItem.point);
    }
  }
}
</script>

<style scoped>
.user-story-dialog {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.user-story-dialog__left-image {
  background-image: url("../../assets/user-story-img.png");
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.user-story-dialog__left-image-blur {
  background: rgba(0,0,0,0.3);
  height: 100%;
}

.user-story-dialog__container {
  position: relative;
  height: 100%;
}

.user-story-dialog__close-btn {
  left: 97%;
  margin-top: 10px;
}

.user-story-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 90%;
}

.user-story-modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 600px;
}

.user-story-modal__form-title {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
}

.user-story-modal__btn-submit {
  color: white;
  margin-top: 30px;
  justify-content: center;
}

@media screen and (max-width: 769px) {
  .user-story-dialog__left-image {
    display: none;
  }

  .user-story-dialog__close-btn {
    left: 92%;
  }
}
</style>
