<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="date"
        :label="labelName"
        prepend-icon="mdi-calendar"
        readonly
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>

    <v-date-picker
      v-model="selectedDate"
      :min="min"
      :max="max"
      @click="menu = false"
    ></v-date-picker>

  </v-menu>
</template>

<script>
export default {
  name: "DatePicker",
  props: {
    date: String,
    labelName: String,
    min: String,
    max: String,
  },
  data() {
    return {
      menu: false,
      selectedDate: ""
    }
  },
  watch: {
    //Close menu then update date
    selectedDate:{
      handler(newSelectedDate) {
        this.menu = false
        this.$emit('update-date', newSelectedDate)
      },
      immediate: true
    },
    //update selectedDate when date changed
    date: {
      handler(newDate) {
        this.selectedDate = newDate
      }
    }
  },

}
</script>

<style scoped>

</style>
