<template>
  <v-dialog
    :value="visible"
    @click:outside="$emit('no-handler')"
    max-width="500px"
  >
    <v-card>
      <v-card-title class="text-h5"
      >
        Are you sure you want to delete this item?
      </v-card-title>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="$emit('no-handler')"
        >
          Cancel
        </v-btn>

        <v-btn
          color="blue darken-1"
          text
          @click="$emit('yes-handler')"
        >
          OK
        </v-btn>

        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    visible: Boolean,
  }
}
</script>

<style scoped>

</style>
