<template>
  <v-dialog
    fullscreen
    content-class="sprint__modal"
    :value="shouldShowSprintDialog"
    @keydown.esc="closeDialog"
    >
    <dialog-layout
      :image-name="imageName"
      @close-dialog="closeDialog"
    >
        <div class="sprint__main-content">
          <div class="sprint__form">
            <div class="sprint__form--title">
              <span>Create sprint in a few quick steps</span>
            </div>

            <div class="sprint__progress-bar">
              <div
                class="sprint__progress-bar--step"
                :class="{complete: isNameComplete, active: currentStep === 0}"
                @click="changeStep(0)"
              >
                Name
              </div>
              <div
                class="sprint__progress-bar--step"
                :class="{complete: isStartDateComplete, active: currentStep === 1}"
                @click="changeStep(1)"
              >
                Start Date
              </div>
              <div
                class="sprint__progress-bar--step"
                :class="{complete: isEndDateComplete, active: currentStep === 2}"
                @click="changeStep(2)"
              >
                End Date
              </div>
            </div>

            <div class="sprint__form--desc">
              <span>Please fill out the below information</span>
            </div>

            <div class="sprint__form--text-field">
              <div v-show="currentStep === 0">
                <v-text-field
                  outlined
                  label="Sprint Name:"
                  v-model="newSprint.name"
                ></v-text-field>
              </div>

              <div
                class="sprint__form--date-picker-container"
                v-show="currentStep === 1"
              >
                <date-picker
                  label-name="Start Date"
                  :date="newSprint.startDate"
                  :max="newSprint.endDate"
                  :min="minDate"
                  @update-date="updateStartDate"
                >
                </date-picker>
              </div>

              <div
                class="sprint__form--date-picker-container"
                v-show="currentStep === 2"
              >
                <date-picker
                  label-name="End Date"
                  :date="newSprint.endDate"
                  :min="newSprint.startDate"
                  :max="maxDate"
                  @update-date="updateEndDate"
                >
                </date-picker>
              </div>
            </div>

            <p v-if="errors" class="red--text">{{errors}}</p>

            <div class="sprint__form--button-container">
              <v-btn
                color="blue darken-1"
                text
                :disabled="allowPrevStep"
                @click="prevStep"
              >
                Prev
              </v-btn>

              <v-btn
                v-if="currentStep !== 2"
                color="blue darken-1"
                text
                @click="nextStep"
              >
                Next
              </v-btn>

              <v-btn
                v-else
                color="blue darken-1"
                class="white--text"
                :disabled="allowSubmit"
                @click="saveSprint"
              >
                Submit
              </v-btn>
            </div>
          </div>
        </div>
    </dialog-layout>
  </v-dialog>
</template>

<script>
import cloneDeep from 'lodash/cloneDeep'
import DatePicker from "./DatePicker";
import GridCustom from "../../core/components/GridCustom";
import DialogLayout from "../../core/components/DialogLayout";
export default {
  components: {DialogLayout, GridCustom, DatePicker},
  data() {
    return {
      newSprint: {
        id: "",
        name: "",
        startDate: "",
        endDate: "",
      },
      currentStep: 0,
      isNameComplete: false,
      isStartDateComplete: false,
      isEndDateComplete:false,
      imageName: "sprint-img.jpg",
      allowNextStep: false,
      errors: "",
      maxDate: "",
      minDate: "",
    }
  },
  props: {
    shouldShowSprintDialog: Boolean,
    formTitle: String,
    editedSprint: Object,
    messageError: String,
  },
  methods: {
    updateStartDate(date){
      this.newSprint.startDate = date
    },

    updateEndDate(date){
      this.newSprint.endDate = date
    },

    saveSprint() {
      this.$emit('save-sprint',this.newSprint)
    },

    prevStep() {
      this.currentStep -= 1
    },

    nextStep() {
      if(this.currentStep === 0) {
        if(!this.newSprint.name) {
          this.errors = "Please fill out the name"
          return
        }
        this.isNameComplete = true
      }
      if(this.currentStep === 1) {
        if(!this.newSprint.startDate) {
          this.errors = "Please fill out the date"
          return
        }
        this.isStartDateComplete = true
      }
      this.currentStep += 1
      this.errors = ""
    },

    changeStep(step) {
      //Check prevStep is filled out
      var prevStep = step - 1
      if(prevStep === 0){
        if(!this.newSprint.name){
          return
        }
        this.isNameComplete = true
      }

      if(prevStep === 1) {
        if(!this.newSprint.startDate) {
          return;
        }
        this.isStartDateComplete = true
      }
      this.currentStep = step
      this.errors = ""
    },

    closeDialog() {
      this.$emit('close-dialog')
    }
  },

  watch: {
    shouldShowSprintDialog: {
      handler(shouldShowDialog) {
        if(shouldShowDialog) {
          this.newSprint = cloneDeep(this.editedSprint)
          this.errors = cloneDeep(this.messageError)
          this.currentStep = 0
          this.maxDate = ""
          this.minDate = ""
          this.isNameComplete = false
          this.isStartDateComplete = false
          this.isEndDateComplete = false
        }
      },
      immediate: true
    },

    changeStartDate: {
      handler(startDate) {
        //when startDate changes, compute the limit of the endDate (in 28 days)
        if(startDate) {
          var date = new Date(startDate)
          var differenceInTime = 27*1000*3600*24
          var maxDate = new Date(differenceInTime + date.getTime())
          this.maxDate = maxDate.toISOString().slice(0, 10)
        }
      },
    },

    changeEndDate: {
      handler(endDate) {
        if(endDate) {
          var date = new Date(endDate)
          var differenceInTime = 27*1000*3600*24
          var minDate = new Date(date.getTime() - differenceInTime)
          this.minDate = minDate.toISOString().slice(0, 10)
        }
      }
    }
  },

  computed: {
    allowSubmit() {
      return !(this.newSprint.name&&this.newSprint.startDate&&this.newSprint.endDate)
    },

    allowPrevStep() {
      return this.currentStep === 0
    },

    changeStartDate() {
      return this.newSprint.startDate
    },

    changeEndDate() {
      return this.newSprint.endDate
    }
  }
}
</script>


<style lang="scss">
  $gray_color: #687385;

  .sprint__modal {
    @media (max-width: 770px) {
      position: relative;
      height: 100%;
      padding-top: 59px;
    }
  }

  .sprint__main-content {
    width: 80%;
    margin: auto;

    @media (min-width: 1155px) {
      min-width: 660px;
      max-width: 800px;
    }
  }

  .sprint__form {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
  }

  .sprint__form--title {
    margin-bottom: 30px;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-align: center;

    @media (max-width: 770px) {
      text-align: left;
    }
  }

  .sprint__progress-bar {
    counter-reset: step;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
  }

  .sprint__progress-bar--step {
    position: relative;
    text-align: center;
    display: table-cell;

    &:after {
      content: '';
      position: absolute;
      background-color: #979797;
      height: 2px;
      left: 52%;
      top: 25px;
      width: 100%;
    }

    &:before {
      position: relative;
      background: #fff;
      border: 1px solid #bebebe;
      border-radius: 50%;
      color: #bebebe;
      content: counter(step);
      counter-increment: step;
      display: flex;
      height: 50px;
      width: 50px;
      line-height: 27px;
      margin: 0 auto 10px;
      font-weight: 500;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      z-index: 1;
      cursor: pointer;
    }

    &:last-child:after {
      content: none;
    }

    &.active:before {
      content: counter(step);
      background-color: #42A5F5;
      border-color: #42A5F5;
      color: #fff;
    }

    &.complete:after {
      background-color: #42A5F5;
    }

    &.complete:before {
      font-family: "Font Awesome 5 Free";
      background-color: #42A5F5;
      border-color: #42A5F5;
      color: #fff;
      font-weight: 900;
      content: "\f00c";
    }
  }

  .sprint__form--text-field {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .sprint__form--date-picker-container {
    display: flex;
  }

  .sprint__form--button-container {
    display: flex;
    justify-content: flex-end;
  }

  .sprint__form--desc {
    margin-bottom: 27px;
    color: $gray_color;

    @media (max-width: 770px) {
      display: none;
    }
  }

</style>
