<template>
  <div class="mt-6">
    <div class="text-right">
      <v-btn
        class="white--text"
        color="blue ligten-1"
        @click="showSprintDialog"
      >
        <v-icon class="mr-1">mdi-plus</v-icon>
        sprint
      </v-btn>
    </div>

    <sprint-dialog
      :should-show-sprint-dialog.sync="shouldShowSprintDialog"
      :form-title="sprintDialogTitle"
      :edited-sprint="editedSprint"
      :message-error="messageError"
      @close-dialog="closeSprintDialog"
      @save-sprint="saveSprint"
    >
    </sprint-dialog>

    <delete-dialog
      :visible="shouldShowDeleteDialog"
      @no-handler="closeDeleteDialog"
      @yes-handler="deleteSprint"
    >
    </delete-dialog>

    <v-data-table
      :headers="headers"
      :items="sprints"
      :sort-by="['startDate', 'endDate']"
      :sort-desc="[false, true]"
      multi-sort
      class="elevation-1 mt-5"
    >
      <template v-slot:[`item.name`]="{item}">
        <div
          class="cursor-pointer"
          @click="directToUserStoryPage(item)"
        >
          {{item.name}}
        </div>
      </template>

      <template v-slot:[`item.actions`]="{item}">
       <v-btn
         outlined
         small
         fab
         class="ma-2"
         color="blue lighten-1"
         @click="showEditSprintDialog(item)"
       >
         <v-icon>mdi-pencil</v-icon>
       </v-btn>

       <v-btn
         fab
         dark
         small
         color="blue lighten-1"
         @click="showDeleteDialog(item.id)"
       >
         <v-icon>mdi-minus</v-icon>
       </v-btn>
     </template>
    </v-data-table>

  </div>
</template>

<script>
import axios from 'axios'
import SprintDialog from "./SprintDialog";
import DeleteDialog from "./DeleteDialog";
import SPRINT_API from "../enum/sprint-apis"
export default {
  name: "sprint",
  components: {DeleteDialog, SprintDialog},
  data(){
    return {
      headers: [
        {
          text: 'Sprint Name',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: 'Start Date', value: 'startDate' },
        { text: 'End Date', value: 'endDate' },
        { text: 'Action',
          align: 'center',
          value: 'actions',
          sortable: false,
        },
      ],
      shouldShowSprintDialog: false,
      sprints: [],
      editedSprint: {
        id: "",
        name: "",
        startDate: "",
        endDate: "",
      },
      defaultSprint: {
        id: "",
        name: "",
        startDate: "",
        endDate: "",
      },
      deletedSprintId: "",
      messageError: "",
      shouldShowDeleteDialog: false,
    }
  },

  methods: {
    async fetchAllSprints(){
      try {
        const res = await axios.get(SPRINT_API.GET_ALL_SPRINTS)
        this.sprints = res.data
      }catch (e){
        console.log(e)
      }
    },
    showSprintDialog() {
      this.shouldShowSprintDialog = true
    },

    showEditSprintDialog(sprint) {
      this.editedSprint = Object.assign({}, sprint)
      this.shouldShowSprintDialog = true
    },

    closeSprintDialog(){
      this.shouldShowSprintDialog = false
      this.editedSprint = Object.assign({}, this.defaultSprint);
      this.messageError = ""
    },

    getUTCTime(dateString) {
      const [y, m, d] = dateString.split('-')
      if(y && m && d) {
        return Date.UTC(y, m-1, d)
      }
      return null
    },

    async addNewSprint(newSprint){
      var startDateUnix = this.getUTCTime(newSprint.startDate)
      var endDateUnix = this.getUTCTime(newSprint.endDate)
      try {
        const res = await axios.post(SPRINT_API.CREATE_SPRINT, {
          name: newSprint.name,
          startDate: newSprint.startDate,
          endDate: newSprint.endDate,
          startDateUnix,
          endDateUnix
        })
        await this.fetchAllSprints()
        this.closeSprintDialog()
      }catch (e){
        this.messageError = e.response.data
      }
    },

    async editSprint(newSprint){
      try {
        var startDateUnix = this.getUTCTime(newSprint.startDate)
        var endDateUnix = this.getUTCTime(newSprint.endDate)
        const res = await axios.put(SPRINT_API.UPDATE_SPRINT(newSprint.id), {
          id: newSprint.id,
          name: newSprint.name,
          startDate: newSprint.startDate,
          endDate: newSprint.endDate,
          startDateUnix,
          endDateUnix
        })
        await this.fetchAllSprints()
        this.closeSprintDialog()
      }catch (e){
        this.messageError = e.response.data
      }
    },

    saveSprint(item) {
      if(this.editedSprint.id !== "") {
        this.editSprint(item)
      }
      else {
        this.addNewSprint(item)
      }
    },

    //Show delete dialog when clicked delete button
    showDeleteDialog(sprintId){
      this.deletedSprintId = sprintId;
      this.shouldShowDeleteDialog = true
    },

    closeDeleteDialog(){
      this.shouldShowDeleteDialog = false
      this.deletedSprintId = ""
    },

    async deleteSprint() {
      try {
        await axios.delete(SPRINT_API.DELETE_SPRINT(this.deletedSprintId))
        this.sprints = this.sprints.filter((sprint) =>
          sprint.id !== this.deletedSprintId
        )
        this.closeDeleteDialog()
      }catch (e){
        this.messageError = e.response.data
      }
    },

    directToUserStoryPage(sprint){
      this.$router.push({name: 'userstory',params: { id: sprint.id }})
    },

  },

  computed: {
    sprintDialogTitle() {
      return this.editedSprint.id === "" ? "New Sprint" : "Edit Sprint";
    },
  },

  async created() {
    await this.fetchAllSprints()
  },
}
</script>

<style>
  .cursor-pointer {
    cursor: pointer;
  }
</style>

