<template>
  <v-dialog
    v-model="shouldShowStepDialog"
    fullscreen
  >
    <grid-custom
      class="step-dialog"
      md-grid-template-columns="455px 1fr"
      md-grid-column-gap="0px"
    >
      <div class="step-dialog__left-image">
        <div class="step-modal__left-image-blur"></div>
      </div>

      <div class="step-dialog__container">
        <v-icon
          class="step-dialog__close-btn"
          @click="closeDialog"
        >
          mdi-close
        </v-icon>

        <div class="step-modal">
          <div class="step-modal__form">
            <div class="step-modal__form-title">{{formTitle}}</div>

            <div class="step-modal__form-note">
              Please enter the step's name
            </div>

            <v-text-field
              v-model="newStep.name"
              label="Step name"
              outlined
            ></v-text-field>

            <div
              class="step-modal__form-error"
              v-if="error"
            >
              {{error}}
            </div>

            <grid-custom
              md-grid-template-columns="10fr 2fr"
              md-grid-column-gap="100px"
            >
              <div class="step-modal__form-note">
                The new step will automatically be added to the user story of active sprint.
              </div>
              <v-btn
                class="step-modal__form-submit-btn"
                color="blue lighten-1"
                @click="onSave"
                :disabled="newStep.name === ''"
              >
                SUBMIT
              </v-btn>
            </grid-custom>
          </div>
        </div>
      </div>
    </grid-custom>
  </v-dialog>
</template>

<script>
import GridCustom from "../../core/components/GridCustom";
export default {
  data() {
    return {
      newStep: {
        id: "",
        name: ""
      }
    }
  },

  components: {
    GridCustom
  },

  props: {
    shouldShowStepDialog: Boolean,
    formTitle: String,
    editingItem: Object,
    error: String,
  },

  methods: {
    onSave() {
      this.$emit("on-save", this.newStep)
    },

    closeDialog() {
      this.$emit("close-dialog")
    }
  },

  watch: {
    shouldShowStepDialog: {
      handler(shouldShowDialog) {
        if(shouldShowDialog) {
          this.newStep = Object.assign({}, this.editingItem)
        }
      },
      immediate: true
    },

    newStep: {
      handler(value) {
        this.error = ''
      },
      deep: true
    }
  }
}
</script>

<style>
  .step-dialog {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }

  .step-dialog__left-image {
    background-image: url("../../assets/step-img.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }

  .step-modal__left-image-blur {
    background: rgba(0,0,0,0.3);
    height: 100%;
  }

  .step-dialog__container {
    position: relative;
    height: 100%;
  }

  .step-dialog__close-btn {
    left: 97%;
    margin-top: 10px;
  }

  .step-modal {
    position: relative;
    display: flex;
    justify-items: center;
    height: 90%;
  }

  .step-modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 600px;
  }

  .step-modal__form-title {
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
  }

  .step-modal__form-note {
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
  }

  .step-modal__form-error {
    font-family: "Roboto", sans-serif;
    color: red;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 770px) {
    .step-dialog__left-image {
      display: none;
    }

    .step-dialog__close-btn {
      left: 92%;
    }
  }
</style>
