<template>
  <div class="step-page">
    <div class="top mt-6">
      <v-spacer></v-spacer>

      <v-btn class="btn-add elevation-4" @click="openAddDialog">
        <v-icon class="mr-2"> mdi-plus </v-icon>
        Step
      </v-btn>
    </div>

    <v-data-table
      :headers="headers"
      :items="steps"
      class="elevation-4"
    >
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon class="icon mr-3" @click="openEditDialog(item)"> mdi-pencil-circle-outline </v-icon>

        <v-icon class="icon" @click="openDeleteDialog(item)">mdi-delete-circle</v-icon>
      </template>

      <template v-slot:top>
        <step-dialog
          :should-show-step-dialog="shouldShowStepDialog"
          :form-title="formTitle"
          :editing-item="editingItem"
          :error="error"
          @on-save="onSave"
          @close-dialog="closeDialog"
        ></step-dialog>

        <v-dialog
          v-model="dialogDelete"
          max-width="500px"
          @click:outside="closeDialog"
        >
          <v-card>
            <v-card-title class="text-h5">Are you sure you want to delete this step?</v-card-title>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn
                color="blue lighten-1"
                text
                @click="deleteMasterStep"
              >
                OK
              </v-btn>
              <v-btn
                color="blue lighten-1"
                text
                @click="closeDeleteDialog"
              >
                Cancel
              </v-btn>

              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import axios from "axios";
import "regenerator-runtime/runtime";
import StepDialog from "./StepDialog";
import StepApi from "../enum/StepApi";
export default {
  components: {StepDialog},

  data() {
    return {
      headers: [
        {
          text: "Name",
          value: "name",
          align: "center"
        },
        {
          text: "Action",
          value: "actions",
          align: "center"
        }
      ],
      steps: [],
      shouldShowStepDialog: false,
      dialogDelete: false,
      editingItem: {
        id: "",
        name: ""
      },
      defaultItem: {
        id: "",
        name: ""
      },
      deletedItemId: "",
      formTitle: "New step",
      error: ""
    }
  },

  methods: {
    closeDialog() {
      this.shouldShowStepDialog = false
      this.error = ""
      this.editingItem = Object.assign({}, this.defaultItem)
    },

    closeDeleteDialog() {
      this.dialogDelete = false
      this.error = ""
      this.deletedItemId = ""
    },

    openDeleteDialog(item) {
      this.deletedItemId = item.id
      this.dialogDelete = true
    },

    openEditDialog(item) {
      this.editingItem = Object.assign({}, item)
      this.formTitle = "Update step"
      this.shouldShowStepDialog = true;
    },

    openAddDialog() {
      Object.assign(this.editingItem, this.defaultItem)
      this.formTitle = "New step"
      this.shouldShowStepDialog = true
    },

    async deleteMasterStep() {
      await axios.delete(StepApi.DElETE_MASTER_STEP(this.deletedItemId))
        .then()
        .catch(err => {
          console.log(err)
        })
      this.closeDeleteDialog()
      await this.getMasterStepList()
    },

    async onSave(item) {
      this.editingItem = Object.assign({}, item)
      if(this.editingItem.id == "") {
        await this.addNewMasterStep(item)
      }
      else {
        await this.updateMasterStep(item)
      }
    },

    async addNewMasterStep(item) {
      let newStep = {
        name: this.editingItem.name
      }
      await axios.post(StepApi.CREATE_MASTER_STEP, newStep)
        .then(res => {
          this.error = ""
        })
        .catch(err => {
          this.error = err.response.data
        })
      await this.getMasterStepList()
      if(this.error === "") this.closeDialog()
    },

    async updateMasterStep(item) {
      let updateStep = {
        id: this.editingItem.id,
        name: this.editingItem.name
      }
      await axios.put(StepApi.UPDATE_MASTER_STEP(this.editingItem.id), updateStep)
        .then(res => {
          this.error = ""
        })
        .catch(err => {
          this.error = err.response.data
        })
      await this.getMasterStepList()
      if(this.error === "") this.closeDialog()
    },

    async getMasterStepList() {
      await axios.get(StepApi.GET_MASTER_STEP_LIST)
        .then(res => {
          this.steps = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },

  mounted() {
    this.getMasterStepList()
  }
}
</script>

<style>
.top {
  display: flex;
}

.icon {
  font-size: 30px !important;
  margin: 10px 0px 10px 0px;
  color: #42A5F5 !important;
}

.btn-add {
  margin-bottom: 20px;
  background-color: #42A5F5 !important;
  color: white !important;
}
</style>

