<template>
  <v-app>
    <navigation-container/>

    <v-main class="main">
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app>
    </v-footer>
  </v-app>
</template>

<script>
import "regenerator-runtime/runtime.js"
import NavigationContainer from "./core/components/NavigationContainer";
export default {
  name: 'app',
  components: {NavigationContainer},
}
</script>

<style>
  .main {
    background-color: #f8f9fb;
  }
</style>

