<template>
  <v-dialog
    fullscreen
    :value="shouldShowLoginDialog"
    content-class="login-register__modal"
    @keydown.esc="closeDialog"
  >
    <dialog-layout
      :image-name="imageName"
      :image-text="imageText"
      @close-dialog="closeDialog"
    >
      <div class="login-register__form">
        <v-form
          class="pa-5"
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <div class="login-register__form--title">
            <span>Log in</span>
          </div>
          <div class="login-register__form--desc">
            <span>Please enter your username and password</span>
          </div>

          <v-text-field
            v-model="userInfo.username"
            label="Username"
            required
            outlined
            :counter="200"
            :rules="[requiredRule]"
          ></v-text-field>

          <v-text-field
            v-model="userInfo.password"
            label="Password"
            required
            outlined
            :type="showPassword ? 'text' : 'password'"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[requiredRule, minimumChar]"
            @click:append="showPassword = !showPassword"
          ></v-text-field>

          <div>
            <v-btn
              color="blue lighten-1"
              class="white--text login-register__button"
              :disabled="!valid"
              @click="submitLogin"
            >
              Login
            </v-btn>
          </div>

          <v-alert
            class="mt-5"
            :value="alertInfo.showAlert"
            :type="alertInfo.alertType"
          >
            {{alertInfo.alertMsg}}
          </v-alert>
        </v-form>

      </div>
    </dialog-layout>
  </v-dialog>
</template>

<script>
import axios from 'axios'
import validationmixin from "../../mixins/validation-mixin";
import {mapActions} from 'vuex'
import AUTHENTICATION_ACTIONS from "../vuex/authentication-actions";
import AUTHENTICATION_API from '../enum/authentication-apis'
import GridCustom from "../../core/components/GridCustom";
import DialogLayout from "../../core/components/DialogLayout";

export default {
  name: "login",
  components: {DialogLayout, GridCustom},
  mixins: [validationmixin],
  props: {
    shouldShowLoginDialog: Boolean
  },
  data() {
    return {
      valid: true,
      userInfo: {
        username: '',
        password: ''
      },
      showPassword: false,
      alertInfo: {
        showAlert: false,
        alertMsg: "",
        alertType: "error",
      },
      imageName: "login-img.jpg",
      imageText: "The world's best time tracking software for individuals and businesses"
    }
  },
  methods: {
    ...mapActions({login: AUTHENTICATION_ACTIONS.login}),

    async submitLogin(){
      this.$refs.form.validate()
      if(this.userInfo.username !== ""){
        try {
          const res = await axios.post(AUTHENTICATION_API.LOGIN, {
            username: this.userInfo.username,
            password: this.userInfo.password
          })
          this.login(res.data) //Login vuex
          this.$emit('close-dialog')
          this.$router.push("/sprint")
        }catch (e){
          this.alertInfo = {
            alertMsg : e.response.data,
            alertType : "error",
            showAlert : true
          }
        }
      }
    },

    closeDialog() {
      this.$emit('close-dialog')
    }
  },

  watch: {
    alertInfo: {
      handler(newAlert) {
        if(newAlert.showAlert) {
          setTimeout(() => {
            this.alertInfo = {
              alertType: "error",
              alertMsg: "",
              showAlert: false
            }
          }, 2000);
        }
      },
      immediate: true
    }
  },
}
</script>

<style lang="scss">
  $gray_color: #687385;

  .login-register__modal {
    @media (max-width: 769px) {
      position: relative;
      height: 100%;
      padding-top: 59px;
   }
  }

  .login-register__form {
    width: 100%;
    margin: auto;

    @media (min-width: 1155px) {
      width: 660px;
    }
  }

  .login-register__form--title {
    margin-bottom: 10px;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
  }

  .login-register__form--desc {
    margin-bottom: 27px;
    color: $gray_color;

    @media (max-width: 769px) {
      display: none;
    }
  }

  .login-register__button {
    width: 100%;
  }

</style>
