<template>
  <v-dialog
    fullscreen
    :value="shouldShowRegisterDialog"
    content-class="login-register__modal"
    @keydown.esc="closeDialog"
  >
    <dialog-layout
      :image-text="imageText"
      :image-name="imageName"
      @close-dialog="closeDialog"
    >
      <div class="login-register__form">
        <v-form
          class="pa-5"
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <div class="login-register__form--title">
            <span>Register</span>
          </div>

          <div class="login-register__form--desc">
            <span>Please enter your information below to setup your account</span>
          </div>

          <v-text-field
            v-model="userInfo.username"
            label="Username"
            required
            outlined
            :counter="200"
            :rules="[requiredRule]"
          ></v-text-field>

          <v-text-field
            v-model="userInfo.refName"
            label="Refer Name"
            required
            outlined
            :rules="[requiredRule]"
          ></v-text-field>

          <v-text-field
            v-model="userInfo.password"
            label="Password"
            required
            outlined
            :type="showPassword ? 'text' : 'password'"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[requiredRule, minimumChar]"
            @click:append="showPassword = !showPassword"
          ></v-text-field>

          <v-text-field
            v-model="userInfo.confirmPassword"
            label="Confirm Password"
            required
            outlined
            :type="showConfirmPassword ? 'text' : 'password'"
            :rules="[requiredRule, minimumChar, matchConfirmPasswordRule]"
            :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showConfirmPassword = !showConfirmPassword"
          ></v-text-field>

          <div>
            <v-btn
              color="blue lighten-1"
              class="white--text login-register__button"
              :disabled="!valid"
              @click="submitRegister"
            >
              Register
            </v-btn>
          </div>

          <v-alert
            class="mt-5"
            :value="alertInfo.showAlert"
            :type="alertInfo.alertType"
          >
            {{alertInfo.alertMsg}}
          </v-alert>
        </v-form>
      </div>
    </dialog-layout>
  </v-dialog>
</template>

<script>
  import axios from 'axios'
  import validationmixin from '../../mixins/validation-mixin'
  import GridCustom from "../../core/components/GridCustom";
  import DialogLayout from "../../core/components/DialogLayout";
  import AUTHENTICATION_API from "../enum/authentication-apis";
  export default {
    name: "register",
    components: {DialogLayout, GridCustom},
    mixins: [validationmixin],
    props: {
      shouldShowRegisterDialog: Boolean
    },
    data() {
      return {
        valid: true,
        userInfo: {
          username: '',
          confirmPassword: '',
          password: '',
          refName: ''
        },
        showPassword: false,
        showConfirmPassword: false,
        alertInfo: {
          showAlert: false,
          alertMsg: "",
          alertType: "error",
        },
        matchConfirmPasswordRule: (v) => (v === this.userInfo.password) || 'Password must match',
        imageName: "login-img.jpg",
        imageText: "The world's best time tracking software for individuals and businesses"
      }
    },
    methods: {
      async submitRegister () {
        this.$refs.form.validate()
        if(this.userInfo.confirmPassword !== this.userInfo.password){
          this.alertMsg = "Not match password"
          this.alertType = "error"
          this.showAlert = true
        }
        else {
          try {
            const res = await axios.post(AUTHENTICATION_API.REGISTER, {
              username: this.userInfo.username,
              refName: this.userInfo.refName,
              password: this.userInfo.password
            })
            if(res){
              //If register successfully show successful alert
              this.alertInfo = {
                alertType: "success",
                alertMsg: "Register Successfully",
                showAlert: true
              }
            }
          }catch (e){
            this.alertInfo = {
              alertMsg : e.response.data,
              alertType : "error",
              showAlert : true
            }
          }
        }
      },

      closeDialog() {
        this.$emit('close-dialog')
      }
    },
    watch: {
      alertInfo(newValue) {
        if (newValue.showAlert) {
          setTimeout(() => {
            //if successful alert, wait 1 minute then close form
            if(this.alertInfo.alertType === "success"){
              this.$emit('close-dialog')
              this.userInfo = {
                username: '',
                confirmPassword: '',
                password: '',
                refName: ''
              }
            }
            this.alertInfo = {
              alertType: "error",
              alertMsg: "",
              showAlert: false
            }
          }, 1000);
        }
      },
    },
  }
</script>

