<template>
  <div class="dialog__container">
    <div class="dialog__close-icon">
      <v-icon
        @click="$emit('close-dialog')"
      >
        mdi-close
      </v-icon>
    </div>

    <grid-custom
      md-grid-template-columns="455px 1fr"
      class="dialog__layout--container"
    >
      <div class="dialog__left-image-wrapper">
        <v-img
          :src="require(`../../assets/${imageName}`)"
        >
        </v-img>

        <div class="dialog__left-image-wrapper--logo">
          <span>Time Tracking</span>
        </div>

        <div class="dialog__left-image-wrapper--text">
          <span>
            {{imageText}}
          </span>
        </div>
      </div>

      <slot></slot>
    </grid-custom>
  </div>
</template>

<script>
import GridCustom from "./GridCustom";
export default {
  name: "DialogLayout",
  components: {GridCustom},
  props: {
    imageName: String,
    imageText: String
  },
}
</script>

<style lang="scss">
  $gray_color: #687385;

  .dialog__container {
    height: 100%;
  }

  .dialog__close-icon {
    z-index: 3;
    position: absolute;
    right: 30px;
    top: 15px;
    background-color: #fff;
  }

  .dialog__layout--container {
    height: 100%;
    background-color: #fff;
    position: relative;
    overflow: auto;
  }

  .dialog__left-image-wrapper {
    display: flex;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, transparent 10%, rgba(0,0,0,.8));
      transition: all .25s cubic-bezier(.02,.01,.47,1);
    }

    @media (max-width: 770px) {
      display: none;
    }
  }

  .dialog__left-image-wrapper--logo {
    position: fixed;
    left: 40px;
    top: 15px;

    span {
      color: white;
      font-size: 25px;
      font-weight: bold;
      font-family: 'Quicksand', sans-serif;
    }
  }

  .dialog__left-image-wrapper--text {
    position: fixed;
    top: 25%;
    left: 40px;
    max-width: 378px;
    z-index: 2;

    span {
      color: white;
      font-size: 50px;
      line-height: 62px;
      font-weight: 600;
      font-family: 'Quicksand', sans-serif;
    }
  }


</style>
