<template>
  <div
    class="grid-custom-container"
    :style="gridStyleCustom"
  >
    <slot></slot>
  </div>
</template>

<script>
const className = ""
export default {
  name: 'grid-custom',
  data() {
    return {}
  },

  props: {
    mdGridTemplateRows: String,
    mdGridTemplateColumns: String,
    mdGridRowGap: {
      type: String,
      default: "20px"
    },
    mdGridColumnGap: {
      type: String,
      default: "20px"
    },
    smGridTemplateRows: String,
    smGridTemplateColumns: {
      type: String,
      default: "1fr"
    },
    smGridRowGap: {
      type: String,
      default: "20px"
    },
    smGridColumnGap: {
      type: String,
      default: "20px"
    },
  },

  computed: {
    gridStyleCustom() {
      return {
        '--md-grid-template-rows': this.mdGridTemplateRows,
        '--md-grid-template-columns' : this.mdGridTemplateColumns,
        '--md-grid-row-gap': this.mdGridRowGap,
        '--md-grid-column-gap': this.mdGridColumnGap,
        '--sm-grid-template-rows': this.smGridTemplateRows,
        '--sm-grid-template-columns' : this.smGridTemplateColumns,
        '--sm-grid-row-gap': this.smGridRowGap,
        '--sm-grid-column-gap': this.smGridColumnGap,
      }
    }
  }
}

</script>

<style scoped>
  .grid-custom-container {
    display: grid;
    grid-template-rows: var(--md-grid-template-rows);
    grid-template-columns: var(--md-grid-template-columns);
    grid-row-gap: var(--md-grid-row-gap);
    grid-column-gap: var(--md-grid-column-gap);
  }

  @media screen and (max-width: 770px) {
    .grid-custom-container {
      grid-template-rows: var(--sm-grid-template-rows);
      grid-template-columns: var(--sm-grid-template-columns);
      grid-row-gap: var(--sm-grid-row-gap);
      grid-column-gap: var(--sm-grid-column-gap);
    }
  }
</style>
