<template>
  <div class="nav">
    <div class="nav__title">
      <h2>Time Tracking</h2>
    </div>

    <div class="nav__main" :style="activeMenu">
      <v-icon
        class="nav__icon--close"
        @click="closeMenu"
      >
        mdi-close
      </v-icon>

      <div class="nav__flex nav__left" >
        <div
          class="nav__link"
          v-for="(item,index) in navLeftLinks"
          :key="index"
          v-if="isLogged === item.isLogin"
          @click="directPage(item)"
        >
          <v-icon class="nav__link--icon">
            {{item.icon}}
          </v-icon>

          {{item.name}}
        </div>
      </div>

      <div class="nav__flex nav__right"  >
        <div
          class="nav__link"
          v-for="(item,index) in navRightLinks"
          :key="index"
          v-if="isLogged === item.isLogin"
          @click="directPage(item)"
        >
          <v-icon class="nav__link--icon">
            {{item.icon}}
          </v-icon>

          {{item.name}}
        </div>
      </div>
    </div>

    <v-icon
      class="nav__icon--show"
      @click="showMenu"
    >
      mdi-table-of-contents
    </v-icon>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import AUTHENTICATION_GETTERS from "../../authentication/vuex/authentication-getters";

export default {
  data() {
    return {
      right: "-300px",
      navLeftLinks: [
        {
          name: "Sprint",
          icon: "mdi-clipboard-list-outline",
          isLogin: true,
          path: "sprint"
        },
        {
          name: "User story",
          icon: "mdi-alpha-u-circle-outline",
          isLogin: true,
          path: "userstory"
        },
        {
          name: "Step",
          icon: "mdi-format-list-numbered-rtl",
          isLogin: true,
          path: "step"
        },
      ],
      navRightLinks: [
        {
          name: "Log out",
          icon: "mdi-account-arrow-right-outline",
          isLogin: true,
          emit: 'logout'
        },
        {
          name: "Login",
          icon: "mdi-account-arrow-right-outline",
          isLogin: false,
          emit: 'show-login-dialog'
        },
        {
          name: "Register",
          icon: "mdi-account-plus-outline",
          isLogin: false,
          emit: 'show-register-dialog'
        },

      ]
    }
  },
  methods: {
    showMenu() {
      this.right = "0px"
    },

    closeMenu() {
      this.right = "-300px"
    },

    directPage(item) {
      if(item.path) {
        this.$router.push({name: item.path})
      }
      else if(item.emit) {
        this.$emit(item.emit)
      }
      this.closeMenu()
    }
  },

  computed: {
    ...mapGetters({
      isLogged: AUTHENTICATION_GETTERS.isLogged
    }),

    activeMenu() {
      return {
        '--right': this.right
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  $blue_color: #42A5F5;
  $deep-blue_color: #2C5282;
  $gray_color: #687385;

  .nav {
    display: flex;
    padding: 8px 2rem;
    align-items: center;
    box-shadow: 0 2px 3px -2px gray;

    .nav__main {
      width: 100%;
      display: flex;

      @media(max-width: 769px) {
        position: fixed;
        background-color: $deep-blue_color;
        height: 100vh;
        width: 200px;
        top: 0;
        right: var(--right);
        z-index: 99;
        padding: 20px 20px 0; //Top right-left bottom
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: .5s;
      }

      .nav__flex {
        display: flex;

        @media (max-width: 769px) {
          flex-direction: column;
          width: 100%;
        }
      }

      .nav__right {
        margin-left: auto;

        @media(max-width: 769px) {
          margin-left: 0;
        }
      }

      .nav__icon--close {
        display: none;
        color: white;

        &:hover {
          animation: arrow 0.3s linear;

          @keyframes arrow {
            100% {
              transform: rotate(180deg);
            }
          }
        }

        @media (max-width: 769px) {
          margin-left: auto;
          margin-bottom: 30px;
          display: block;
        }
      }

      .nav__link {
        cursor: pointer;
        margin: 0 10px;
        color: $gray_color;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;

        @media (max-width: 769px) {
          color: white;
          margin: 10px 0;
          padding: 10px 0;

          &:hover {
            background: linear-gradient(to right,  #2C5282,#2A4365);
          }
        }

        .nav__link--icon {
          margin: 0 10px;
          display: none;

          @media (max-width: 769px) {
            display: inline-block;
            color: white;
          }
        }
      }
    }

    .nav__icon--show {
      display: none;
      margin-left: auto;

      @media (max-width: 769px) {
        display: inline-block;
      }
    }

    .nav__title {
      display: inline-block;
      margin-right: 10px;
      border-right: 1px solid $gray_color;
      padding-right: 15px;
      white-space: nowrap;

      h2 {
        color:  $blue_color;
      }
    }
  }
</style>
