<template>
  <div class="nav__container">
    <navigation
      @show-login-dialog="showLoginDialog"
      @show-register-dialog="showRegisterDialog"
    />

    <register
      :should-show-register-dialog.sync="shouldShowRegisterDialog"
      @close-dialog="closeRegisterDialog"
    />

    <login
      :should-show-login-dialog.sync="shouldShowLoginDialog"
      @close-dialog="closeLoginDialog"
    />
  </div>
</template>

<script>
import {mapGetters} from "vuex"
import AUTHENTICATION_GETTERS from "../../authentication/vuex/authentication-getters";
import Register from "../../authentication/components/Register";
import Login from "../../authentication/components/Login";
import Navigation from "./Navigation";
export default {
  name: "navigation-container",
  components: {Navigation, Login, Register},
  data(){
    return {
      shouldShowLoginDialog: false,
      shouldShowRegisterDialog: false
    }
  },
  methods: {
    showRegisterDialog() {
      this.shouldShowRegisterDialog = true
    },
    closeRegisterDialog() {
      this.shouldShowRegisterDialog = false;
    },
    showLoginDialog() {
      this.shouldShowLoginDialog = true
    },
    closeLoginDialog(){
      this.shouldShowLoginDialog = false
    }
  },
  computed: {
    ...mapGetters({
      isLogged: AUTHENTICATION_GETTERS.isLogged
    })
  },
}
</script>

<style scoped>
 .nav__container {
   position: relative;
 }
</style>
